// Accordions
.accordion {
    &.footer-accordion {
        --bs-accordion-bg: white;
        --bs-accordion-active-bg: white;
        --bs-accordion-btn-focus-border-color: transparent;
        --bs-accordion-border-color: transparent;
        --bs-accordion-border-width: none;
        --bs-accordion-active-color: #{$secondary};
        --bs-accordion-btn-color: #{$secondary};
        --bs-accordion-btn-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-active-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-padding-x: 0;
        --bs-accordion-body-padding-x: 0;
        border-bottom: 1px solid $primary;
        .accordion-button {
            font-size: .875rem;
            font-weight: 500;
            &:focus {
                box-shadow: none;
            }
            &:after {
                background-size: 10px 16px;
                display: inline-block;
                vertical-align: middle;
                height: 16px;
                width: 10px;
            }
        }
        .accordion-body {
            padding-top: 0;
        }
    }
    &.offcanvas-accordion {
        --bs-accordion-bg: white;
        --bs-accordion-active-bg: white;
        --bs-accordion-btn-focus-border-color: transparent;
        --bs-accordion-border-color: transparent;
        --bs-accordion-border-width: none;
        --bs-accordion-active-color: #{$secondary};
        --bs-accordion-btn-color: #{$secondary};
        --bs-accordion-btn-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-active-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-padding-x: 0;
        --bs-accordion-btn-padding-y: 0.5rem;
        --bs-accordion-body-padding-x: 0;
        .accordion-body {
            padding-top: 0.25rem;
        }
        .accordion-button {
            &:focus {
                box-shadow: none;
            }
            &:after {
                background-position: center;
                background-size: 10px 16px;
                display: inline-block;
                vertical-align: middle;
                height: 20px;
                margin-left: 0.25rem;
                width: 20px;
            }
        }
    }
    &.footer-sibling-accordion {
        --bs-accordion-bg: white;
        --bs-accordion-active-bg: white;
        --bs-accordion-btn-focus-border-color: transparent;
        --bs-accordion-border-color: transparent;
        --bs-accordion-border-width: none;
        --bs-accordion-active-color: #{$secondary};
        --bs-accordion-btn-color: #{$secondary};
        --bs-accordion-btn-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-active-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-padding-x: 0;
        --bs-accordion-btn-padding-y: 0rem;
        --bs-accordion-body-padding-x: 0;
        .accordion-body {
            padding-top: 0.25rem;
        }
        .accordion-button {
            font-weight: 300;
            &:focus {
                box-shadow: none;
            }
            &:after {
                background-position: center;
                background-size: 10px 16px;
                display: inline-block;
                vertical-align: middle;
                height: 20px;
                margin-left: 0.25rem;
                width: 20px;
            }
        }
        .sibling-list {
            list-style-type: disc;
            padding-left: 1rem;
            li {
                margin-bottom: 0.75rem;
                &::marker {
                    color: $primary;
                }
            }
        }
        &.zig-zag-accordion {
            .accordion-header {
                max-width: 760px;
                margin: auto;
                padding: 0;
                .price {
                    margin-left: auto;
                }
            }
            .accordion-body {
                padding-bottom: 1.5rem;
                padding-top: 1.5rem;
            }
            .accordion-item {
                .accordion-button {
                    background-color: transparent;
                    padding: .75rem 1rem;
                }
                &:nth-child(odd) {
                    .accordion-header {
                        background-color: #F6EFE8;
                    }
                }
                &:first-child {
                    .accordion-header {
                        border-top: 1px solid $primary;
                    }
                }
            }
        }
    }
    &.accordion-form {
        --bs-accordion-bg: transparent;
        --bs-accordion-active-bg: transparent;
        --bs-accordion-btn-focus-border-color: transparent;
        --bs-accordion-border-color: white;
        --bs-accordion-border-width: 0;
        --bs-accordion-active-color: #{$secondary};
        --bs-accordion-btn-color: #{$secondary};
        --bs-accordion-btn-icon: url('../images/icons/show-more-white.svg');
        --bs-accordion-btn-active-icon: url('../images/icons/show-more-white.svg');
        --bs-accordion-btn-padding-x: 0;
        --bs-accordion-btn-padding-y: 0rem;
        --bs-accordion-body-padding-x: 0;
        padding: 12px;
        .accordion-body {
            padding-top: 0;
        }
        .accordion-button {
            font-family: $font-family-base;
            font-weight: 300;
            &:focus {
                box-shadow: none;
            }
            &:after {
                background-position: center;
                background-size: 10px 16px;
                display: inline-block;
                vertical-align: middle;
                height: 20px;
                margin-left: 0.25rem;
                width: 20px;
            }
        }
        .sibling-list {
            list-style-type: disc;
            padding-left: 1rem;
            li {
                margin-bottom: 0.75rem;
                &::marker {
                    color: $primary;
                }
            }
        }
    }
    &.fancy-accordion {
        --bs-accordion-bg: white;
        --bs-accordion-active-bg: white;
        --bs-accordion-btn-focus-border-color: transparent;
        --bs-accordion-border-color: transparent;
        --bs-accordion-border-width: none;
        --bs-accordion-active-color: #{$secondary};
        --bs-accordion-btn-color: #{$secondary};
        --bs-accordion-btn-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-active-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-padding-x: 0;
        --bs-accordion-body-padding-x: 0;
        .accordion-button {
            align-items: center;
            border-bottom: 1px solid $primary;
            border-top: 1px solid $primary;
            display: flex;
            flex-direction: row;
            font-size: .875rem;
            font-weight: 300;
            justify-content: center;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: .5rem;
            padding-top: .5rem;
            &:focus {
                box-shadow: none;
            }
            &:after {
                background-size: 10px 16px;
                display: inline-block;
                height: 16px;
                margin-left: 0.5rem;
                margin-right: 1rem;
                vertical-align: middle;
                width: 10px;
            }
        }
        .accordion-collapse {
            &.show, .collapsing {
                border-bottom: 1px solid $primary;
            }
        }
        .accordion-body {
            padding: 1rem;
        }
    }
    &.legal-accordion {
        --bs-accordion-bg: transparent;
        --bs-accordion-active-bg: transparent;
        --bs-accordion-btn-focus-border-color: transparent;
        --bs-accordion-border-color: transparent;
        --bs-accordion-border-width: none;
        --bs-accordion-active-color: #{$secondary};
        --bs-accordion-btn-color: #{$secondary};
        --bs-accordion-btn-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-active-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-padding-x: 1rem;
        --bs-accordion-body-padding-x: 1rem;
        .accordion-button {
            // border-bottom: 1px solid $secondary;
            border-top: 1px solid $secondary;
            display: flex;
            justify-content: space-between;
            font-size: .875rem;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
            &:focus {
                box-shadow: none;
            }
            &:after {
                background-position: center;
                background-size: 10px 16px;
                display: inline-block;
                vertical-align: middle;
                height: 20px;
                margin-left: 0.25rem;
                width: 20px;
            }
        }
        .accordion-body {
            padding: 1rem;
        }
    }
    &.read-more-accordion {
        --bs-accordion-bg: transparent;
        --bs-accordion-active-bg: transparent;
        --bs-accordion-btn-focus-border-color: transparent;
        --bs-accordion-border-color: transparent;
        --bs-accordion-border-width: none;
        --bs-accordion-btn-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-active-icon: url('../images/icons/show-more.svg');
        --bs-accordion-btn-padding-x: 0;
        --bs-accordion-body-padding-x: 0;
        .accordion-button {
            color: $secondary;
            display: flex;
            font-size: .65rem;
            font-weight: 500;
            letter-spacing: 2px;
            padding: 0;
            text-transform: uppercase;
            &.collapsed {
                .read-more {
                    display: block;
                }
                .read-less {
                    display: none;
                }
            }
            .read-more {
                display: none;
            }
            .read-less {
                display: block;
            }
            &:focus {
                box-shadow: none;
            }
            &:after {
                background-position: center;
                background-size: 10px 16px;
                display: inline-block;
                vertical-align: middle;
                height: 20px;
                margin-left: 0.25rem;
                width: 20px;
            }
        }
        .accordion-body {
            padding: 0;
        }
        &.primary {
            .accordion-button {
                color: $primary;
            }
            --bs-accordion-btn-icon: url('../images/icons/show-more-primary.svg');
            --bs-accordion-btn-active-icon: url('../images/icons/show-more-primary.svg');
        }
    }
}

// Queries
// @include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) {
    .accordion {
        &.footer-accordion {
            --bs-accordion-btn-icon: none;
            --bs-accordion-btn-active-icon: none;
            border-bottom: 2px solid transparent;
        }
    }
}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
// @include media-breakpoint-up(xxl) {}