.divider {
    display: inline-flex;
    height: 1px;
    min-width: 40px;
    &.h-2 {
        height: 2px;
    }
    &.center {
        margin: 0 auto;
    }
}
.divider-vertical {
    display: inline-flex;
    width: 1px;
    min-height: 40px;
}