.nav {
    &.nav-pills {
        &.tab-basic-pills {
            margin-left: auto;
            margin-right: auto;
            max-width: 500px;
            .nav-item {
                margin-left: .5rem;
                margin-right: .5rem;
                .nav-link {
                    border: 1px solid white;
                    color: white;
                    text-align: center;
                    font-size: 0.625rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.5rem;
                    letter-spacing: 0.125rem;
                    text-transform: uppercase;
                    &.active {
                        border: 1px solid $primary;
                    }
                }
            }
        }
    }
    &.fancy-nav {
        .nav-item {
            .nav-link {
                color: $secondary;
                font-size: 1.09375rem;
                font-weight: 300;
                display: flex;
                justify-content: center;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                position: relative;
                width: 100%;
                &.active {
                    color: $primary;
                    &:before {
                        content: "";
                        // background-image: url("../images/icons/double-arrow-right-secondary.svg");
                        background-image: url("../images/icons/double-arrow-right.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: inline-block;
                        height: 14px;
                        margin-right: .5rem;
                        margin-top: .5rem;
                        flex-shrink: 0;
                        width: 14px;
                    }
                    &:after {
                        content: "";
                        // background-image: url("../images/icons/double-arrow-left-secondary.svg");
                        background-image: url("../images/icons/double-arrow-left.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: inline-block;
                        height: 14px;
                        margin-left: .5rem;
                        margin-top: .5rem;
                        flex-shrink: 0;
                        width: 14px;
                    }
                }
                // &:hover {
                //     color: $primary;
                //     &:before {
                //         content: "";
                //         // background-image: url("../images/icons/double-arrow-right-secondary.svg");
                //         background-image: url("../images/icons/double-arrow-right.svg");
                //         background-position: center;
                //         background-repeat: no-repeat;
                //         background-size: contain;
                //         display: inline-block;
                //         height: 14px;
                //         margin-right: .5rem;
                //         margin-top: .5rem;
                //         flex-shrink: 0;
                //         width: 14px;
                //     }
                //     &:after {
                //         content: "";
                //         // background-image: url("../images/icons/double-arrow-left-secondary.svg");
                //         background-image: url("../images/icons/double-arrow-left.svg");
                //         background-position: center;
                //         background-repeat: no-repeat;
                //         background-size: contain;
                //         display: inline-block;
                //         height: 14px;
                //         margin-left: .5rem;
                //         margin-top: .5rem;
                //         flex-shrink: 0;
                //         width: 14px;
                //     }
                // }
            }
        }
    }
}

// Queries
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
// @include media-breakpoint-up(xxl) {}