.offcanvas {
    padding: 2rem;
    .offcanvas-body {
        padding: 0;
    }
    &.offcanvas-start {
        box-shadow: 0 8px 32px rgba(0, 0, 0, .5);
        max-width: 440px;
        width: 100%;
    }
    .btn-close {
        background-color: transparent;
        border: none;
        height: 26px;
        margin-bottom: 3rem;
        padding: 0;
        width: 26px;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $secondary;
                font-weight: 400;
                letter-spacing: 2px;
                margin-bottom: .2rem;
                text-transform: uppercase;
                transition: all .25s;
            }
            .accordion-link {
                text-decoration: none;
            }
            .accordion-list {
                padding-left: 1rem;
                list-style-type: disc;
                li {
                    margin-bottom: 0.75rem;
                    &::marker {
                        color: $primary;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}