// Seacloud butons

.btn {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.btn-block-xs {
	width: 100%;
}
.btn-block-sm {
	width: 100%;
}
.btn-block-md {
	width: 100%;
}
.btn-block-lg {
	width: 100%;
}
.btn-block-xl {
	width: 100%;
}

.navbar-toggler {
	&:focus {
		box-shadow: none;
	}
}

.btn-link-arrow {
	background-position: right 16px;
	background-repeat: no-repeat;
	background-size: 6px auto;
	font-size: 1rem;
	font-weight: 400;
	padding-left: 0.35rem;
	padding-right: 1rem;
	text-decoration: none;
	&.text-primary {
		background-image: url("../images/icons/arrow-primary-right.svg");
	}
	&.text-secondary {
		background-image: url("../images/icons/arrow-secondary-right.svg");
	}
	&.small {
		font-size: 0.75rem;
	}
}

// Social button
.btn-social {
	border-radius: 50%;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	text-decoration: none;
	height: 30px;
	width: 30px;
	img {
		height: 30px;
		width: 30px;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.btn-block-xs {
		width: auto;
	}
	.btn-block-sm {
		width: 100%;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.btn-block-sm {
		width: auto;
	}
	.btn-block-md {
		width: 100%;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.btn-block-sm {
		width: auto;
	}
	.btn-block-md {
		width: auto;
	}
	.btn-block-lg {
		width: 100%;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.btn-block-sm {
		width: auto;
	}
	.btn-block-md {
		width: auto;
	}
	.btn-block-lg {
		width: auto;
	}
	.btn-block-xl {
		width: 100%;
	}
}
