// Layout
.fullscreen-xs {
    height: 100vh;
}

// Text
.letter-spacing-sm {
    letter-spacing: 1px;
}
.letter-spacing-md {
    letter-spacing: 2px;
}
.letter-spacing-lg {
    letter-spacing: 3px;
}
.letter-spacing-xl {
    letter-spacing: 4px;
}

// Opacity
.white-opacity-8 {
    background-color: rgba(255, 255, 255, .8);
}

// Mouse
.pointer-events-none {
    pointer-events: none;
}

// Media queries
// Up
@include media-breakpoint-up(sm) {
    .fullscreen-sm {
        height: 100vh;
    }
}
@include media-breakpoint-up(md) {
    .fullscreen-md {
        height: 100vh;
    }
}
@include media-breakpoint-up(lg) {
    .fullscreen-lg {
        height: 100vh;
    }
}
@include media-breakpoint-up(xl) {
    .fullscreen-xl {
        height: 100vh;
    }
}
@include media-breakpoint-up(xxl) {
    
}

// Down
@include media-breakpoint-down(sm) {
    .text-center-sm {
        text-align: center;
    }
}
@include media-breakpoint-down(md) {
    .text-center-md {
        text-align: center;
    }
}
@include media-breakpoint-down(lg) {
    .text-center-lg {
        text-align: center;
    }
}
@include media-breakpoint-down(xl) {
    .text-center-xl {
        text-align: center;
    }
}
@include media-breakpoint-down(xxl) {
    
}