// General styles
@import "./general-styles";

// Bootstrap components
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/nav';

// Custom components
@import './components/accordion';
@import './components/card';
@import './components/carousel';
@import './components/divider';
@import './components/nav';
@import './forms';
@import './utils';

// Custom pages styles
// Hero
#hero {
    background-image: url("../images/destinations/mediterranean/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// Antilles
#spain-portugal-morocco {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
    img {
        width: 100%;
    }
}
// Bahamas
#french-riviera {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
    img {
        width: 100%;
    }
}
// Central america
#greece-italy-sicily-croatia {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
    img {
        width: 100%;
    }
}

// Media queries
@include media-breakpoint-up(sm) {
    #spain-portugal-morocco, #french-riviera, #greece-italy-sicily-croatia {
        .container {
            max-width: 100%;
        }
    }
}
@include media-breakpoint-up(md) {
    #spain-portugal-morocco {
        background-image: url("../images/destinations/mediterranean/spain-portugal-morocco-bg.jpg");
        min-height: 100vh;
        .container {
            max-width: 720px;
        }
    }
    #greece-italy-sicily-croatia {
        background-image: url("../images/destinations/mediterranean/greece-italy-sicily-croatia-bg.jpg");
        min-height: 100vh;
        .container {
            max-width: 720px;
        }
    }
    #french-riviera {
        background-image: url("../images/destinations/mediterranean/french-riviera-bg.jpg");
        min-height: 100vh;
        .container {
            max-width: 720px;
        }
    }
}
@include media-breakpoint-up(lg) {
    #spain-portugal-morocco, #french-riviera, #greece-italy-sicily-croatia {
        .container {
            max-width: 960px;
        }
    }
}
@include media-breakpoint-up(xl) {
    #spain-portugal-morocco, #french-riviera, #greece-italy-sicily-croatia {
        .container {
            max-width: 1140px;
        }
    }
}
@include media-breakpoint-up(xxl) {
    #spain-portugal-morocco, #french-riviera, #greece-italy-sicily-croatia {
        .container {
            max-width: 1320px;
        }
    }
}