// General styles
@import "./general-styles";

// Bootstrap components
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/nav';

// Custom components
@import './components/accordion';
@import './components/card';
@import './components/carousel';
@import './components/divider';
@import './components/nav';
@import './forms';
@import './utils';

// Custom pages styles
// Hero
#hero {
    background-image: url("../images/destinations/caribbean/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// Antilles
#antilles {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
    img {
        width: 100%;
    }
}
// Bahamas
#bahamas {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
    img {
        width: 100%;
    }
}
// Central america
#central-america {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
    img {
        width: 100%;
    }
}

// Media queries
@include media-breakpoint-up(sm) {
    #antilles, #bahamas, #central-america {
        .container {
            max-width: 100%;
        }
    }
}
@include media-breakpoint-up(md) {
    #antilles {
        background-image: url("../images/destinations/caribbean/antilles-bg.jpg");
        min-height: 100vh;
        .container {
            max-width: 720px;
        }
    }
    #central-america {
        background-image: url("../images/destinations/caribbean/central-america-bg.jpg");
        min-height: 100vh;
        .container {
            max-width: 720px;
        }
    }
    #bahamas {
        background-image: url("../images/destinations/caribbean/bahamas-bg.jpg");
        min-height: 100vh;
        .container {
            max-width: 720px;
        }
    }
}
@include media-breakpoint-up(lg) {
    #antilles, #bahamas, #central-america {
        .container {
            max-width: 960px;
        }
    }
}
@include media-breakpoint-up(xl) {
    #antilles, #bahamas, #central-america {
        .container {
            max-width: 1140px;
        }
    }
}
@include media-breakpoint-up(xxl) {
    #antilles, #bahamas, #central-america {
        .container {
            max-width: 1320px;
        }
    }
}