// General styles
@import "./general-styles";

// Bootstrap components
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';

// Custom components
@import './components/accordion';
@import './components/card';
@import './components/carousel';
@import './components/divider';
@import './forms';
@import './utils';

// Custom pages styles
// Hero
#hero {
    background-image: url("../images/special-offers/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// News section
#news {
    border: 0.75rem solid white;
    .news-right-column {
        display: flex;
        min-height: 900px;
        .news-column-container {
            background-image: url("../images/discover-more/digital-brochure/news-right-bg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .news-left-column {
        display: flex;
        min-height: 900px;
        .news-column-container {
            background-image: url("../images/discover-more/digital-brochure/news-left-bg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .news-column-container {
        align-items: flex-end;
        display: flex;
        width: 100%;
    }
    .news-content {
        margin: 0 auto;
    }
}

// Highlight section
#also-interesting {
    background: rgb(22,29,61);
    background: linear-gradient(0deg, rgba(22,29,61,1) 0%, rgba(255,255,255,1) 70%);
    .swiper {
        .swiper-slide {
            height: auto;
            max-width: 300px;
        }
    }
}

// Order brochure section
#order-brochure-form {
    background: #F6EFE8;
}

// Media queries
@include media-breakpoint-up(sm) {
    #news {
        border: 1.25rem solid white;
    }
}
@include media-breakpoint-up(md) {
    #also-interesting {
        .swiper {
            .swiper-slide {
                max-width: 400px;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #also-interesting {
        .swiper {
            .swiper-slide {
                max-width: 100%;
            }
        }
    }
}
@include media-breakpoint-up(xl) {
    
}
@include media-breakpoint-up(xxl) {
    
}