// General styles
@import "./general-styles";

// Bootstrap components
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';

// Custom components
@import './components/accordion';
@import './components/card';
@import './components/carousel';
@import './components/divider';
@import './components/spinner';
@import './forms';
@import './utils';

// Custom pages styles
// Videos
#videos {
    .videos-carousel-container {
        padding-bottom: 3rem;
    }
    .swiper {
        padding-bottom: 4rem;
        position: relative;
        .swiper-slide {
            max-width: 300px;
        }
        .swiper-pagination {
            bottom: 1rem;
            top: unset;
            .swiper-pagination-bullet {
                border-color: $primary;
            }
            .swiper-pagination-bullet-active {
                background-color: $primary;
            }
        }
    }
}

// Media queries
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
    #videos {
        .swiper {
            .swiper-slide {
                max-width: 400px;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #videos {
        .swiper {
            .swiper-slide {
                max-width: 100%;
            }
        }
    }
}
@include media-breakpoint-up(xl) {
    
}
@include media-breakpoint-up(xxl) {
    
}