// General styles
@import "./general-styles";

// Bootstrap components
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/pagination';

// Custom components
@import './components/accordion';
@import './components/card';
@import './components/pagination';
@import './components/carousel';
@import './components/divider';
@import './forms';
@import './utils';

// Custom pages styles
// Videos
#hero {
    .hero-cover-image {
        background-image: url("../images/find-your-sailing/book/hero.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .form-container {
            background: rgb(14,32,80);
            background: linear-gradient(0deg, rgba(14,32,80,1) 0%, rgba(14,32,80,0) 100%);
            width: 100%;
        }
    }
}

// sailings-list
#sailings {
    .sailing-item {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

// Media queries
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
    
}

@include media-breakpoint-up(lg) {
    
}
@include media-breakpoint-up(xl) {
    
}
@include media-breakpoint-up(xxl) {
    
}