// General styles
@import "./general-styles";

// Bootstrap components
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/nav';

// Custom components
@import './components/accordion';
@import './components/card';
@import './components/carousel';
@import './components/divider';
@import './components/nav';
@import './forms';
@import './utils';

// Custom pages styles
// Section Poster
.poster-section {
    #section-bg {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        img {
            left: 0;
            position: absolute;
            transition: all 0.5s;
            top: 0;
        }
    }
    .content-container {
        padding-bottom: 8rem;
        padding-top: 4rem;
    }
    .swiper-pagination {
        bottom: 60px !important;
    }
    #section-bg-mobile {
        height: 450px;
        overflow: hidden;
        position: relative;
        width: 100%;
        img {
            left: 0;
            position: absolute;
            transition: all 0.5s;
            top: 0;
        }
    }
}
#poster-section, #poster-section-3 {
    border: 1.25rem solid white;
}
#poster-section-2, #poster-section-3 {
    min-height: auto;
}

// Media queries
@include media-breakpoint-up(sm) {
    #poster-section-2, #poster-section-3 {
        .container {
            max-width: unset;
        }
    }
}
@include media-breakpoint-up(md) {
    #hero-section {
        .home-hero-slider {
            position: absolute;
            &:before {
                display: none;
            }
        }
        .hero-content {
            background-color: transparent;
        }
    }
    #poster-section-2, #poster-section-3 {
        min-height: 100vh;
        .container {
            max-width: 720px;
        }
        .home-features-slider-container {
            margin-top: 0;
            transform: translateY(0);
            .content {
                opacity: 1;
            }
        }
    }
    #poster-section-2, #poster-section-3 {
        min-height: 100vh;
    }
}
@include media-breakpoint-up(lg) {
    #poster-section-2, #poster-section-3 {
        .container {
            max-width: 960px;
        }
    }
}
@include media-breakpoint-up(xl) {
    #poster-section-2, #poster-section-3 {
        .container {
            max-width: 1140px;
        }
    }
}
@include media-breakpoint-up(xxl) {
    #poster-section-2, #poster-section-3 {
        .container {
            max-width: 1320px;
        }
    }
}