// General styles
@import "./general-styles";

// Bootstrap components
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/nav';

// Custom components
@import './components/accordion';
@import './components/card';
@import './components/carousel';
@import './components/divider';
@import './components/nav';
@import './forms';
@import './utils';

// Custom pages styles
// Hero section
#hero {
    background-image: url("../images/seacloud/lifestyle/lifestyle-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Carousel section
#half-carousel-section {
    border: 1.25rem solid white;
    .carousel-content {
        background-color: #161D3D;
    }
    #half-carousel {
        padding: 5rem 0;
    }
    .carousel-content-container {
        margin: 0 auto;
        max-width: 400px;
    }
    .carousel-images {
        min-height: 400px;
        position: relative;
        img {
            left: 0;
            position: absolute;
            top: 0;
            transition: all 0.5s;
        }
    }
}

// Section Poster
.poster-section {
    #section-bg {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        img {
            left: 0;
            position: absolute;
            transition: all 0.5s;
            top: 0;
        }
    }
    .content-container {
        padding-bottom: 8rem;
        padding-top: 4rem;
    }
}
#poster-section-2 {
    border: 1.25rem solid white;
    &.poster-section {
        .content-container {
            background: #161D3D;
        }
    }
}
#features-section, #features-section-two {
    min-height: auto;
    overflow: hidden;
    #section-bg {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        img {
            left: 0;
            position: absolute;
            transition: all 0.5s;
            top: 0;
        }
    }
    .home-features-slider-container {
        margin-top: 16rem;
        transition: all 0.5s;
        transform: translateY(calc(100% - 280px));
        .content {
            opacity: 0;
            transition: all .25s;
        }
        &:hover {
            .content {
                opacity: 1;
            }
            transform: translateY(0);
        }
        .swiper {
            .swiper-pagination {
                bottom: 2rem;
                .swiper-pagination-bullet {
                    background-color: $primary;
                    opacity: .4;
                }
                .swiper-pagination-bullet-active {
                    opacity: 1;
                }
            }
            .swiper-slide {
                padding-bottom: 8rem;
                padding-top: 4rem;
            }
        }
    }
}
#features-section-two {
    border: 1.5rem solid white;
}

// Highlight section
#highlights {
    .swiper {
        .swiper-slide {
            max-width: 300px;
        }
    }
}

// News section
#news {
    border: 0.75rem solid white;
    .news-right-column {
        display: flex;
        min-height: 900px;
        .news-column-container {
            background-image: url("../images/home/news/news-right-bg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .news-left-column {
        display: flex;
        min-height: 900px;
        .news-column-container {
            background-image: url("../images/home/news/news-left-bg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .news-column-container {
        align-items: flex-end;
        display: flex;
        width: 100%;
    }
    .news-content {
        max-width: 450px;
        margin: 0 auto;
    }
}

// Media queries
@include media-breakpoint-up(sm) {
    #features-section, #features-section-two {
        .container {
            max-width: unset;
        }
        // .home-features-slider-container {
        //     .content {
        //         opacity: 0;
        //     }
        // }
    }
    #news {
        border: 1.25rem solid white;
    }
    #highlights {
        .swiper {
            .swiper-slide {
                max-width: 350px;
            }
        }
    }
}
@include media-breakpoint-up(md) {
    #hero-section {
        .home-hero-slider {
            position: absolute;
            &:before {
                display: none;
            }
        }
        .hero-content {
            background-color: transparent;
        }
    }
    #features-section, #features-section-two {
        min-height: 100vh;
        .container {
            max-width: 720px;
        }
        .home-features-slider-container {
            margin-top: 0;
            transform: translateY(0);
            .content {
                opacity: 1;
            }
        }
    }
    .horizontal-sliders{
        display: flex;
        flex-wrap: nowrap;
        width: 300%;
        overflow-x: hidden;
    }
    .slide{
        height:100%;
        width:100%;
    }
}
@include media-breakpoint-up(lg) {
    #features-section, #features-section-two {
        .container {
            max-width: 960px;
        }
    }
}
@include media-breakpoint-up(xl) {
    #features-section, #features-section-two {
        .container {
            max-width: 1140px;
        }
    }
}
@include media-breakpoint-up(xxl) {
    #features-section, #features-section-two {
        .container {
            max-width: 1320px;
        }
    }
}