// General styles
@import "./general-styles";

// Bootstrap components
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';

// Custom components
@import './components/accordion';
@import './components/card';
@import './components/carousel';
@import './components/divider';
@import './forms';
@import './utils';

// Custom pages styles
// Hero section
#hero-section {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .hero-content {
        background-color: $secondary;
    }
    .home-hero-slider {
        position: relative;
        width: 100%;
        z-index: 0;
        &:before {
            background: rgb(14,32,80);
            background: linear-gradient(0deg, rgba(14,32,80,1) 14%, rgba(14,32,80,0) 100%);
            content: '';
            display: block;
            height: 160px;
            left: 0;
            opacity: 1;
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 2;
        }
    }
}

// Search section
#search-section {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &:after {
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    .seacrh-container {
        margin: 0 auto;
        max-width: 100%;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        width: 100%;
    }
    .seacr-content-columns {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
    }
    .search-form-container {
        background-color: $light;
    }
    .image {
        background-image: url("../images/home/search-section/search-bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sail-luxury {
        font-size: 38px;
        line-height: 48px;
    }
}

#the-ships {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .the-ships {
        font-size: 40px;
    }
    .swiper-slide {
        justify-content: unset;
    }
    .content {
        position: absolute;
    }
}

#carousel-features {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .slide-gourmet {
        height: 100%;
    }
    .content {
        position: absolute;
    }
}

// Scroll animation
.main{
    overflow-x: hidden;
}
.horizontal-sliders{
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    overflow-x: hidden;
    height: -webkit-fill-available;
}
.slide{
    height:100vh;
    width:100%;
}

// Celebrate section
#celebrate {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        max-width: unset;
    }
    .content {
        background-color: $secondary;
    }
    .title {
        color: $primary;
    }
    .divider {
        background-color: $primary;
    }
}

// Highlight section
#highlights {
    .swiper {
        .swiper-slide {
            max-width: 350px;
        }
    }
}

// News section
#news {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .image {
        background-image: url("../images/home/news/news-bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// Media queries
@include media-breakpoint-up(sm) {
    #search-section {
        .seacrh-container {
            max-width: 100%;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
    #news {
        background-image: url("../images/home/news/news-bg.jpg");
        .image {
            background-image: none;
        }
    }
}
@include media-breakpoint-up(md) {
    #hero-section {
        .home-hero-slider {
            position: absolute;
            &:before {
                display: none;
            }
        }
        .hero-content {
            background-color: transparent;
        }
    }
    #search-section {
        &:after {
            background-image: url("../images/home/search-section/search-bg.jpg");
            left: unset;
            right: 0;
            top: 0;
            width: 50%;
        }
        .search-form-container {
            background-color: transparent;
        }
        .seacr-content-columns {
            width: 80%;
        }
        .seacrh-container {
            margin: 0 auto;
            max-width: 720px;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
        .image {
            background-image: none;
        }
    }
    #the-ships {
        .swiper-slide {
            justify-content: center;
        }
        .content {
            position: relative;
        }
    }
    #carousel-features {
        .slide-gourmet {
            height: 60%;
        }
        .content {
            position: absolute;
        }
    }
    .horizontal-sliders{
        display: flex;
        flex-wrap: nowrap;
        width: 300%;
        overflow-x: hidden;
    }
    .slide{
        height:100%;
        width:100%;
    }
    #celebrate {
        background-image: url("../images/home/celebrate/celebrate-bg.jpg");
        .container {
            max-width: 720px;
        }
        .content {
            background-color: transparent;
        }
        .title {
            color: white;
        }
        .divider {
            background-color: white;
        }
    }
}
@include media-breakpoint-up(lg) {
    #search-section {
        .seacrh-container {
            margin: 0 auto;
            max-width: 960px;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
    #celebrate {
        .container {
            max-width: 960px;
        }
    }
}
@include media-breakpoint-up(xl) {
    #search-section {
        .seacrh-container {
            margin: 0 auto;
            max-width: 1140px;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
    #celebrate {
        .container {
            max-width: 1140px;
        }
    }
}
@include media-breakpoint-up(xxl) {
    #search-section {
        .seacrh-container {
            margin: 0 auto;
            max-width: 1320px;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
    #celebrate {
        .container {
            max-width: 1320px;
        }
    }
}