// General styles
@import "./general-styles";

// Bootstrap components
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';

// Custom components
@import './components/accordion';
@import './components/card';
@import './components/carousel';
@import './components/divider';
@import './forms';
@import './utils';

// Custom pages styles
// Hero
#hero {
    background-image: url("../images/special-offers/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Section 1
#section-1 {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    min-height: auto;
    img {
        width: 100%;
        border: .85rem solid white;
    }
}

// Section 2
#section-2 {
    border: 0.75rem solid white;
    border-top: 0.75rem solid white;
    padding-bottom: 2rem;
    .section-2-right-column {
        display: flex;
        .section-2-column-container {
            background-image: url("../images/special-offers/section-2-right-bg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .section-2-left-column {
        display: flex;
        .section-2-column-container {
            background-image: url("../images/special-offers/section-2-left-bg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .section-2-column-container {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 100%;
        .image-bobile {
            width: 100%;
        }
    }
    .section-2-content {
        margin: 0 auto;
        margin-bottom: 0;
        width: 100%;
    }
}

// Highlight section
#also-interesting {
    background: rgb(22,29,61);
    background: linear-gradient(0deg, rgba(22,29,61,1) 0%, rgba(255,255,255,1) 70%);
    .swiper {
        .swiper-slide {
            height: auto;
            max-width: 300px;
        }
    }
}

// Media queries
@include media-breakpoint-up(sm) {
    #section-1 {
        .container {
            max-width: 100%;
        }
    }
    #section-2 {
        .container {
            max-width: 100%;
        }
    }
}
@include media-breakpoint-up(md) {
    #section-1 {
        background-image: url("../images/special-offers/section-1-bg.jpg");
        border: 1.5rem solid white;
        min-height: 100vh;
        .container {
            max-width: 720px;
        }
        img {
            border: none;
        }
    }
    #also-interesting {
        .swiper {
            .swiper-slide {
                max-width: 400px;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #section-1, #section-2 {
        .container {
            max-width: 960px;
        }
    }
    #section-2 {
        padding-bottom: 6rem;
        .section-2-left-column {
            min-height: 900px;
        }
        .section-2-right-column {
            min-height: 900px;
        }
        .section-2-content {
            margin-bottom: -6rem;
            max-width: 450px;
        }
        .section-2-column-container {
            flex-direction: unset;
        }
    }
    #section-2 {
        border: 1.5rem solid white;
        border-top: none;
        .container {
            max-width: 720px;
        }
    }
    #also-interesting {
        .swiper {
            .swiper-slide {
                max-width: 100%;
            }
        }
    }
}
@include media-breakpoint-up(xl) {
    #section-1, #section-2 {
        .container {
            max-width: 960px;
        }
    }
    #section-2 {
        .section-2-content {
            max-width: 450px;
        }
    }
}
@include media-breakpoint-up(xxl) {
    #section-1, #section-2 {
        .container {
            max-width: 960px;
        }
    }
    #section-2 {
        .section-2-content {
            max-width: 450px;
        }
    }
}