// General styles
@import "./general-styles";

// Bootstrap components
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/nav';

// Custom components
@import './components/accordion';
@import './components/card';
@import './components/carousel';
@import './components/divider';
@import './components/nav';
@import './components/stepper';
@import './forms';
@import './utils';

// Custom pages styles
// Hero section
.poster-section {
    #section-bg {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        img {
            left: 0;
            position: absolute;
            transition: all 0.5s;
            top: 0;
        }
    }
    .content-container {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
    .swiper-pagination {
        bottom: 60px !important;
    }
    #section-bg-mobile {
        height: 450px;
        overflow: hidden;
        position: relative;
        width: 100%;
        img {
            left: 0;
            position: absolute;
            transition: all 0.5s;
            top: 0;
        }
    }
}

#postcard-section {
    border: 1.25rem solid white;
    .half-carousel {
        padding: 5rem 0;
    }
    .content-container {
        margin: 0 auto;
        max-width: 400px;
        padding: 1.5rem 1.5rem 8rem 1.5rem;
    }
    .postcard-images {
        min-height: 400px;
        position: relative;
        img {
            left: 0;
            position: absolute;
            top: 0;
            transition: all 0.5s;
        }
    }
}

#zones-section {
    .zones-content {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
}

#deck-plan-section {
    .border-container {
        margin: 1rem;
    }
    #deck-slider {
        .ship-illustration {
            padding-bottom: 30%;
            position: relative;
            img {
                object-fit: contain;
                object-position: center;
                position: absolute;
            }
        }
    }
    .legend {
        .legend-item {
            align-items: center;
            display: flex;
            margin-bottom: .35rem;
            opacity: .2;
            transition: all .4s;
            &.active {
                opacity: 1;
            }
            .legend-badge {
                color: white;
                letter-spacing: 1px;
                padding: 0.1rem 0.75rem;
                &.cat-1 {
                    background-color: #F9B3CB;
                }
                &.cat-2 {
                    background-color: #BB92BA;
                }
                &.cat-3 {
                    background-color: #2C8FBD;
                }
                &.cat-4 {
                    background-color: #8FCEE5;
                }
                &.cat-5 {
                    background-color: #00A59D;
                }
                &.cat-c {
                    background-color: #F79675;
                }
                &.cat-b {
                    background-color: #FBB592;
                }
                &.cat-a {
                    background-color: #F8CA74;
                }
            }
            .legend-text {
                margin-left: .75rem;
            }
        }
        .legend-with-icon {
            .icon-container {
                align-items: center;
                display: flex;
                height: 24px;
                justify-content: center;
                width: 24px;
            }
        }
    }
}

#sail-diagram-section {
    .diagram-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
    .diagram-actions {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
    }
}

#history-section {
    border: 1rem solid white;
    .history-text-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
    .swiper {
        .swiper-slide {
            max-width: 380px;
        }
    }
    .history-card {
        padding-left: 1rem;
        padding-right: 1rem;
        .history-image {
            display: block;
            height: 185px;
            width: 100%;
        }
    }
    .navigation {
        .swiper-button-prev, .swiper-button-next {
            height: 24px;
            width: 14px;
            &:after {
                display: none;
            }
        }
    }
    .read-more-accordion {
        .accordion-collapse {
            &.collapse:not(.show) {
                display: block;
                max-height: 125px;
                overflow: hidden;
            }
            &.collapsing {
                min-height: 125px;
            }
        }
    }
}

// Media queries
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
    .poster-section {
        .content-container {
            padding-bottom: 8rem;
            padding-top: 200px;
        }
    }
    #deck-plan-section {
        .border-container {
            margin: 1.5rem;
        }
    }
    #history-section {
        border: 1.5rem solid white;
    }
}
@include media-breakpoint-up(lg) {
    
}
@include media-breakpoint-up(xl) {
    
}
@include media-breakpoint-up(xxl) {
    
}