// General styles
@import "./general-styles";

// Bootstrap components
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/nav';

// Custom components
@import './components/accordion';
@import './components/card';
@import './components/carousel';
@import './components/divider';
@import './components/nav';
@import './components/stepper';
@import './forms';
@import './utils';

// Custom pages styles
// Hero section
.poster-section {
    #section-bg {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        img {
            left: 0;
            position: absolute;
            transition: all 0.5s;
            top: 0;
        }
    }
    .content-container {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
    .swiper-pagination {
        bottom: 60px !important;
    }
    #section-bg-mobile {
        height: 450px;
        overflow: hidden;
        position: relative;
        width: 100%;
        img {
            left: 0;
            position: absolute;
            transition: all 0.5s;
            top: 0;
        }
    }
}

#postcard-section {
    border: 1.25rem solid white;
    .half-carousel {
        padding: 5rem 0;
    }
    .content-container {
        margin: 0 auto;
        max-width: 400px;
        padding: 1.5rem 1.5rem 8rem 1.5rem;
    }
    .postcard-images {
        min-height: 400px;
        position: relative;
        img {
            left: 0;
            position: absolute;
            top: 0;
            transition: all 0.5s;
        }
    }
}

#zones-section {
    .zones-content {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
    .zones-carousel {
        position: relative;
        &:before {
            content: '';
            background: rgb(22,29,61);
            background: linear-gradient(0deg, rgba(22,29,61,1) 15%, rgba(22,29,61,0) 100%);
            bottom: 0;
            display: block;
            height: 350px;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 2;
        }
    }
}

#deck-plan-section {
    .border-container {
        margin: 1rem;
    }
    #deck-slider {
        .swiper {
            padding-bottom: 7rem;
        }
        .swiper-slide {
            height: auto;
        }
    }
    .legend {
        .legend-item {
            align-items: center;
            display: flex;
            margin-bottom: .35rem;
            opacity: .2;
            transition: all .4s;
            &.active {
                opacity: 1;
            }
            .legend-badge {
                color: white;
                letter-spacing: 1px;
                padding: 0.1rem 0.75rem;
                &.cat-a {
                    background-color: #F8CA74;
                }
                &.cat-b {
                    background-color: #F09B7E;
                }
                &.cat-c {
                    background-color: #F9B3CB;
                }
                &.cat-d {
                    background-color: #BB92BA;
                }
                &.cat-e {
                    background-color: #3E95BD;
                }
                &.cat-f {
                    background-color: #8FCEE5;
                }
            }
            .legend-text {
                margin-left: .75rem;
            }
        }
        .legend-with-icon {
            .icon-container {
                align-items: center;
                display: flex;
                height: 24px;
                justify-content: center;
                width: 24px;
            }
        }
    }
}

#sail-diagram-section {
    border-left: 1rem solid white;
    border-right: 1rem solid white;
    border-bottom: 1rem solid white;
    .diagram-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }
    .diagram-actions {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
    }
}

// Media queries
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
    .poster-section {
        .content-container {
            padding-bottom: 8rem;
            padding-top: 200px;
        }
    }
    #deck-plan-section {
        .border-container {
            margin: 1.5rem;
        }
    }
    #sail-diagram-section {
        border-left: 1.5rem solid white;
        border-right: 1.5rem solid white;
        border-bottom: 1.5rem solid white;
    }
    #zones-section {
        .zones-carousel {
            position: relative;
            &:before {
                height: 240px;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
    #zones-section {
        .zones-carousel {
            position: relative;
            &:before {
                height: 140px;
            }
        }
    }
}
@include media-breakpoint-up(xxl) {
    
}